<div class="main-content">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Nome da empresa</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item [button]="true" [detail]="false" (click)="route('empresa')">Empresa</ion-item>
      <ion-item [button]="true" [detail]="false">Funcionarios</ion-item>
      <ion-item [button]="true" [detail]="false">Cargos</ion-item>
      <ion-item [button]="true" [detail]="false">Viagens</ion-item>
      <ion-item [button]="true" [detail]="false">Equipes</ion-item>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon id="popover-button" style="font-size: 30px;" name="person-outline"></ion-icon>
          <ion-popover trigger="popover-button" [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item [button]="true" [detail]="false">Option 1</ion-item>
                  <ion-item [button]="true" [detail]="false">Option 2</ion-item>
                  <ion-item class="logout" [button]="true" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon>Logout</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
</div>